.social-icon {
    font-size: 24px; /* Adjust the size as needed */
    color: #fff; /* Default icon color */
  }
  
  .social-links button {
    background: none; /* Remove button background */
    border: none; /* Remove button border */
    padding: 0; /* Remove padding */
    cursor: pointer; /* Change cursor to pointer */
  }
  
  .social-links button:hover .social-icon {
    color: #7289da; /* Change icon color on hover */
  }